* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    background: #e6e6e6;
}

.imagens {
    width: 550px;
    padding: 10px;
    margin: 2 auto;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens {
width: 660px;
float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}


.postagem {
    padding: 20px;
    margin-bottom: 20px;  
}




#rodape {
    clear: both;
    background: #CCC;
    text-align: center;  
    padding: 5px;
    margin: 1px auto;

}

/**Formatação Menu**/

#area-postagem a:link, #area-postagem a:visited {
    color: gray;
}

#area-postagem a:hover {
    text-decoration: underline;}

#cabecalho-area a:link, #cabecalho-area a:visited
{
    color: #FFF;
    padding: 8px, 12px;
}

 #cabecalho-area a:hover {
    color: #f7b600;
    background: #FFF;
    text-decoration: none;
}

#cabecalho-area a {
    font-size: 1.5em;
    text-decoration: none;
    padding: 2.5px;
    
}
/**LAYOUT**/

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral 
{
    font-size: 0.8em;
    padding: 5px;
    border-bottom:1px solid black ;}

#cabecalho-area {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

/**Formatação geral**/

h1 {
    color: #4e4e4e;
    font-size: 5em;
}
h2 {
    padding: 0 auto;
    margin: 0 auto;
    font-size: 1.5em;
    color: #f7b600;
}

h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}

.branco {
    color: white;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #4e4e4e;
}

